<p class="h2">Добавить или изменить данный родственника:</p>
{% if client_family_add_form %}
    <div class="row">
        <div class="col-md-3">
            {{ wtf.quick_form(client_family_add_form, action=url_for("main.client_family_add", client_phone=client.client_phone )) }}
        </div>
    </div>
{% else %}

<div class="row">
        <div id="edit" class="col-md-3">
            {{ wtf.quick_form(edit_form, action=url_for("main.edit",family_id=family_id, client_phone=client.client_phone )) }}
        </div>
    </div>
{% endif %}