{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Добавить нового клиента:</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <h1>Клиенты:</h1>
        {% for client in clients %}
        <p>Клиент: {{ client.client_name }},
            Номер телефона:
                <a href="{{ url_for('user',client_phone=client.client_phone ) }}">{{ client.client_phone }}</a>
            День Рождения: {{ client.client_birthday.date() }}</p>
        {% endfor %}
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form_search) }}
            </div>
        </div>
     {% if not search == None %}
    <h1>ПОИСК:</h1>
        <p>Клиент: {{ search.client_name }},
            Номер телефона:
                <a href="{{ url_for('user',client_phone=search.client_phone ) }}">{{ search.client_phone }}</a
        {% endif %}
    </div>
    <div>

    </div>
{% endblock %}