{% extends 'base.html' %}

{% block content %}
<h1>Добавить нового клиента:</h1>
    {% with messages = get_flashed_messages() %}
    {%  if messages %}
    <ul>
        {% for message in messages %}
        <li><span style="color: red">{{ message }}</span></li>
        {% endfor    %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.client_name.label }}<br>
            {{ form.client_name(size=32) }}<br>
            {% for error in form.client_name.errors %}
            <span style="color: red" >[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.client_phone.label }}<br>
            {{ form.client_phone(size=10) }}
        </p>
        <p>
            {{ form.client_birthday.label }}<br>
            {{ form.client_birthday() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}