{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div>
<p class="h1">Добавить нового клиента:</p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, action=url_for('index')) }}
        </div>
    </div>
    <p class="h1">Клиенты:</p>
        {% for client in clients %}
        <p class="h4">Клиент: {{ client.client_name }},
            Номер телефона:
                <a href="{{ url_for('user',client_phone=client.client_phone ) }}">{{ client.client_phone }}</a>
            День Рождения: {{ client.client_birthday.date() }}</p>
        {% endfor %}
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form_search, action=url_for('search')) }}
            </div>
        </div>
     {% if not search == None %}
    <p class="h1">ПОИСК:</p>
         <p class="h2">Клиент:</p>
         <p> {{ search.client_name }},
            Номер телефона:
                <a href="{{ url_for('user',client_phone=search.client_phone ) }}">{{ search.client_phone }}</a>
        </p>
        {% endif %}
    </div>

{% endblock %}